.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 46px;
  backdrop-filter: blur(0.3rem);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-background);
  z-index: 1000;
}

.nav-btn {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  
  &.username {
    justify-content: end;
  }

  > svg {
    color: var(--primary-text);
    fill: var(--primary-text);
    
    > path {
      stroke: var(--primary-text);
    }
  }

  &.active > .current {
    position: absolute;
    left: 0;
    height: 60%;
    width: 4px;
    background: rgb(var(--opposite-background));
  }
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  text-transform: uppercase;
}