.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000080;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.form {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main-form {
  max-width: 600px;
  width: 600px;
  height: fit-content;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--primary-background);
  border-radius: 15px;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    gap: 40px;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    position: relative;

    .close-btn {
      background: none;
      border: none;
      font-size: 2rem;
      position: absolute;
      top: 12.5px;
      right: 12.5px;
      height: 25px;
      width: 25px;
      line-height: 25px;
    }

    .redirect-btn {
      background: none;
      border: none;
      text-transform: uppercase;
      font-weight: 200;
      text-decoration: underline;
    }
  }
}



.input-section {
  width: 100%;
  position: relative;

  > .title {
    font-size: 3rem;
    text-transform: uppercase;
  }

  > span {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 200;
    color: var(--primary-text);
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
  }

  > input,
  > button {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 16px 30px;
    font-weight: 200;
    color: var(--primary-text);
    font-size: 16px;
    background: var(--secondary-background);
    font-family: 'Oswald', sans-serif;
    border: 1.75px solid var(--primary-text);
  }


  > input:focus ~ span,
  > input:valid ~ span {
    top: -20px;
    left: -5px;
    font-size: 14px;
    outline: none !important;
  }
}