.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  backdrop-filter: blur(0.3rem);
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 1000;
}

.title {
  color: #202020;
}

.title, .nav-link, .btn {
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

.navlinks {
  
}

.nav-link, .btn {
  padding: 10px 15px;
  font-size: 16px;
  text-transform: uppercase;
  color: #202020;
}

.sign-in-btn {
  font-size: 18px;
  background: none;
  border: none;
}
