.landing {
  width: 100%;
  height: auto;
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--secondary-text);
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

.hero-heading {
  width: 100%;
  height: auto;
  margin: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-heading, .sub-heading, .button, .content, .feature-tooltip {
  font-family: "Oswald", sans-serif;
  color: var(--primary-text);
}

.main-heading {
  font-size: 3.8rem;
  width: 40%;
  text-align: center;
  line-height: 110%;
}

.sub-heading {
  font-size: 1.8rem;
  width: 70%;
  text-align: center;
  font-weight: 300;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  height: 40px;
}

.button {
  width: 150px;
  padding: 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
  background: var(--primary-background);
  border: 1.5px solid var(--primary-text);
  transition: 0.1s;
  height: -moz-max-content;
  height: max-content;
}
.button:active {
  scale: 0.95;
  margin-top: 3px;
}

.features, .showcase, .about {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}

.features, .about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features {
  position: relative;
}
.features.hidden .coding-block > .wrapper, .features.hidden .feature-tooltip {
  display: none;
}
.features.show .coding-block > .wrapper, .features.show .feature-tooltip {
  display: block;
}
.features .coding-block {
  width: 70%;
  min-height: 600px;
  height: auto;
  background: var(--secondary-background);
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.features .coding-block .header {
  width: 100%;
  height: auto;
  background: var(--accent-color);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}
.features .coding-block .header .header-title {
  font-size: 18px;
  color: var(--secondary-text);
  padding: 10px 20px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}
.features .wrapper {
  margin-top: 32px;
  height: auto;
  width: 100%;
  padding: 25px;
  white-space: pre;
  font-family: "Jost", sans-serif;
  font-size: 18px;
}
.features .wrapper .typed-paragraph {
  width: 100%;
}
.features .wrapper .target {
  white-space: pre-wrap;
}
.features .wrapper .target,
.features .wrapper .typed-cursor {
  color: var(--primary-text);
  font-family: monospace;
  line-height: 1.5;
  font-size: 1em;
}
.features .wrapper .typed-cursor {
  opacity: 1;
  font-weight: 800;
  animation: blink 0.7s infinite;
}
.features .feature-tooltip {
  position: absolute;
  width: auto;
  height: auto;
  background: var(--primary-background);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: var(--primary-text);
}
.features .feature-tooltip > h3 {
  padding: 15px 25px;
  font-size: 1.5rem;
}
@keyframes moveUp {
  from {
    opacity: 0;
    top: calc(var(--top-value) + 20%);
  }
  to {
    top: var(--top-value);
    opacity: 1;
  }
}
.features .feature-tooltip:nth-of-type(2) {
  --top-value: 25%;
  animation: moveUp 1.5s;
  top: var(--top-value);
  left: 10%;
}
.features .feature-tooltip:nth-of-type(3) {
  --top-value: 25%;
  animation: moveUp 1.5s;
  top: var(--top-value);
  right: 10%;
}
.features .feature-tooltip:nth-of-type(4) {
  --top-value: 50%;
  animation: moveUp 1.5s;
  top: var(--top-value);
  left: 10%;
}
.features .feature-tooltip:nth-of-type(5) {
  --top-value: 50%;
  animation: moveUp 1.5s;
  top: var(--top-value);
  right: 10%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.showcase > .image {
  width: 80%;
  height: 700px;
  background: var(--primary-text);
  margin: 0 auto;
}

.about .about-info {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}
.about .about-info.reverse {
  flex-direction: row-reverse;
  text-align: right;
}
.about .about-info > .image {
  min-width: 20rem;
  height: 20rem;
  width: 20rem;
  font-size: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
}
.about .about-info > .content {
  font-size: 1.5rem;
}/*# sourceMappingURL=index.module.css.map */