.landing {
  width: 100%;
  height: auto;
}

.cursor {
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

.hero-heading {
  width: 100%;
  height: auto;
  margin: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-heading, .sub-heading, .button, .content {
  font-family: 'Oswald', sans-serif;
}

.main-heading {
  font-size: 3.8rem;
  width: 40%;
  text-align: center;
}

.sub-heading {
  font-size: 1.8rem;
  width: 70%;
  text-align: center;
  font-weight: 300;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  height: 40px;
}

.button {
  width: 150px;
  padding: 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
  background: #fff;
  border: 1.5px solid #000;
  transition: 0.1s;
  height: max-content;

  &:active {
    scale: 0.95;
    margin-top: 3px;
  }
}

.showcase, .about {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}

.showcase {
  
  > .image {
    width: 80%;
    height: 700px;
    background: #202020;
    margin: 0 auto;
  }
}

.about {

  display: flex;
  flex-direction: column;
  gap: 20px;

  .about-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    gap: 20px;

    &.reverse {
      flex-direction: row-reverse;
      text-align: right;
    }

    > .image {
      min-width: 20rem;
      height: 20rem;
      width: 20rem;
      background: #202020;
    }

    > .content {
      font-size: 1.5rem
    };
  }
}