.form {
  width: 550px;
  height: 700px;
  background: var(--primary-background);
  position: relative;
  box-shadow: var(--box-shadow);
}

.header {
  position: absolute;
  top: 0;
  height: 13%;
  width: 100%;
  background: var(--accent-color);
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-between;

  > h1, button {
    color: var(--secondary-text);
    font-size: 1.7rem;
  }

  > button {
    background: none;
    border: none;
    font-size: 2.4rem;
  }
}

.form-content {
  position: relative;
  top: 13%;
  padding: 50px;
}

.input-section {
  width: 100%;
  position: relative;

  > span {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 200;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
  }

  > button, > input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 16px 30px;
    font-weight: 200;
    font-size: 16px;
    border: 1.75px solid var(--primary-text);
  }

  > input:focus ~ span, > input:valid ~ span {
    top: -20px;
    left: -5px;
    font-size: 14px;
    outline: none !important;
  }
}