.sign-up {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 300px;
  margin-top: 125px;
}

.sign-up-form {
  max-width: 600px;
  width: 600px;
  height: fit-content;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--primary-background);

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    gap: 40px;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
  }
}

.input-section {
  width: 100%;
  position: relative;

  > .title {
    font-size: 3rem;
    text-transform: uppercase;
  }

  > span {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 200;
    color: var(--primary-text);
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
  }

  > input,
  > textarea,
  > button {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 16px 30px;
    font-weight: 200;
    color: var(--primary-text);
    font-size: 16px;
    background: var(--secondary-background);
    font-family: 'Oswald', sans-serif;
    border: 1.75px solid var(--primary-text);
  }

  textarea {
    resize: none;
    height: 300px;

    ~ span {
      top: 25px;
    }
  }

  > input:focus ~ span,
  > input:valid ~ span, 
  > textarea:focus ~ span,
  > textarea:valid ~ span {
    top: -20px;
    left: -5px;
    font-size: 14px;
    outline: none !important;
  }
}