.dashboard {
  width: 100%;
  height: auto;
  padding: 20px;
  float: left;
  max-width: 1520px;
  margin: 0 auto;
  position: relative;
  margin-left: max(295px, calc((100% - 1520px) / 2));
  margin-top: 46px;
}

.title {
  height: 53px;
  margin-bottom: 40px;
  line-height: 53px;
}