@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Inter:wght@200;600;800&family=Jost:wght@400;700&family=Oswald:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: auto;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
}

input, textarea, select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}